/*
  FONTS
*/
  @import url(https://fonts.googleapis.com/css?family=Roboto:500);
  @import url(https://fonts.googleapis.com/css?family=Oswald);

/*
  BODY

*/
html, body {
    background-image: url('./images/twinkle_twinkle.png');
    height: 100%;
    margin: 0;
    padding: 0;
}

.section-heading{
  padding: 10px;
  background: linear-gradient(to right,rgba(211,47,47,0), rgba(211,47,47,1), rgba(211,47,47,0));
  font-size: 3.5em;
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-shadow: 3px 3px black;
  opacity: 0.7;
  color: #FFFFFF;
}

/*
  CONTENT SECTION

*/
.container-content{
  margin-top: 70px;
  margin-bottom: 120px;
}

/*
  GLOBAL STYLES

*/

.well{
  background: linear-gradient(to left,rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0));

}

.well button{
  padding: 16px;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5em;
  background: linear-gradient(to bottom,rgba(0,0,0,0), rgba(13,13,13,1));
  border: 2px solid rgb(13, 13, 13) !important;
  color: white;
}

.well button:hover{
  color: white !important;
}


@import "../imports/ui/components/root/root.less";
