/*
  MAIN CONTENT
*/
home{
  .intro-content{
    background: url('./images/animated-bg.jpg') no-repeat center center fixed;
    background-size: cover;
    min-height: 100% !important;
    min-width: 100% !important;
    padding: 5% 0;
  }
  .welcome{
    min-height: 1024px !important;
    min-width: 100% !important;
    padding: 10% 0;
    vertical-align: middle;
    opacity: 0.8;
    background-color: black;
  }
  .welcome h1{
    font-size: 4.5em;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: #FFFFFF;
    text-shadow: 2px 2px #212121;

  }
  .intro-btn{
    margin-top: 25px;
    padding: 20px;
    font-size: 1.6em;
    background-color: black !important;
    border: 2px solid #FFFFFF;
    color: #FFFFFF;
    font-weight: bold;
  }

  .intro-btn:hover{
    color: rgb(211,47,47) !important;
  }
}
