<!-- WELCOME CONTENT -->
<div class="contrainer-fluid text-center intro-content ">
    <div class="welcome">
      <h1> DJ DIO PEREZ </h1>
      <a href="/booking" class="btn btn-default intro-btn"> Book Now </a>
  </div>
</div>
