<!-- BOOKING SECTION -->
<div class="container-fluid">
<div class="containter-fluid text-center container-content">
  <section name="booking" id="booking">
    <h1 class="section-heading"> BOOKINGS REQUEST FORM </h1>

    <div class="well well-lg">
      <form class="form-inline">
        <div class="row">
          <div class="col-md-12">
            <h4> CONTACT INFORMATION </h4>
              <div class="form-group">
                  <input class="form-control input-box" type="text" placeholder="First Name"  required/>
                  <input class="form-control input-box" type="text" placeholder="Last Name"  required/>
                  <input class="form-control input-box" type="email" placeholder="Email"  required/>
                  <input class="form-control input-box" type="phone" placeholder="Telephone"  required/>
              </div>
            </div>

          <div class="col-md-12">
            <h4> EVENT INFORMATION </h4>
            <div class="row">
                <div class="col-xs-4">
                  <div class="form-group">
                      <label> Event Type </label>
                      <select class="form-control" placeholder="Select type" id="sel1">
                        <option> Select Type </option>
                        <option> Anniversary </option>
                        <option> Wedding </option>
                        <option> Sweet Sixteen </option>
                        <option> Chritsmas Party </option>
                        <option> Halloween Party </option>
                        <option> Private Party </option>
                        <option> Other </option>
                      </select>
                    </div>
                  </div>

                <div class="col-xs-4">
                    <div class="form-group">
                      <label  class="control-label">Location: </label>

                        <input class="form-control input-box" type="text" placeholder="Location"  required/>
                          <!--
                        <input class="form-control input-box" type="text" placeholder="State"  required/>
                      <input class="form-control input-box" type="text" placeholder="Zipcode"  required/>
                    -->
                    </div>
                </div>

                <div class="col-xs-4">
                    <div class="form-group">
                      <label >Date: </label>
                      <input class="form-control input-box" type="text" placeholder="Date"  required/>
                      <!--
                         MONTH
                        <select class="form-control" placeholder="Select type" id="sel2">
                          <option>Month </option>
                          <option> Jan </option>
                          <option> Feb </option>
                          <option> Mar </option>
                          <option> Apr </option>
                          <option> May </option>
                          <option> Jun </option>
                          <option> Jul </option>
                          <option> Aug </option>
                          <option> Set </option>
                          <option> Nov </option>
                          <option> Dev </option>
                        </select>
                        DAY
                        <select class="form-control" placeholder="Select type" id="sel2">
                          <option>Day</option>
                          <option> 1 </option>
                          <option> 2 </option>
                          <option> 3 </option>
                          <option> 4 </option>
                          <option> 5 </option>
                        </select>
                       YEARS
                      <select class="form-control" placeholder="Select type" id="sel2">
                        <option>Year</option>
                        <option> 2016 </option>
                        <option> 2017 </option>
                        <option> 2018 </option>
                        <option> 2020 </option>
                      </select>
                    -->
                  </div>
              </div>
              </div>
            </div>
            <!-- ADDITIOANL INFO -->
            <div class="form-group">
              <label  class="control-label"> Additional Information: </label><br>
              <textarea class="form-control" rows="5" placehoder="Other information"> </textarea>
            </div><br><br>
          <button class="btn btn-default " type="submit">Submit Request</button>
        </div>
      </form>

    </div>
 </section>
</div>
</div>
