booking{
    h4{
    color: white;
    font-family: 'Roboto', serif;
    font-size: 1.6em;
  }
  h3{
    color: white !important;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    text-shadow: 1px 1px rgb(13, 13, 13);
    font-weight: 400;

  }

  .input-box{
    height: 3em !important;
  }
  label{
    text-shadow: 1px 1px rgb(13, 13, 13);
    color: white;
  }
  .well{
    background: linear-gradient(to left,rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0));

  }

  .well button{
    padding: 16px;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5em;
    background: linear-gradient(to bottom,rgba(0,0,0,0), rgba(13,13,13,1));
    border: 2px solid rgb(13, 13, 13) !important;
    color: white;
  }

  .well button:hover{
    color: white !important;
  }

}
