<!-- CONTACT SECTION -->
<div class="containter-fluid text-center container-content">
  <section>
    <h1 class="section-heading"> CONTACT </h1>

    <div class="well">
      <h3>PHONE CONTACT</h3>
      <p> 646-271-5454 </p>

      <h3>EMAIL CONTACT</h3>
      <p><a href="mailto:djdioperez@gmail.com" class="mail"> djdioperez@gmail.com </a></p>

      <h3>FOLLOW DJ DIO PEREZ ON:</h3>
      <a href="https://soundcloud.com/dj-dio-perez" target="_blank " ><i class="fa fa-soundcloud" aria-hidden="true"></i> </a>
      <a href="https://www.facebook.com/djdioperez" target="_blank" ><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
      <a href="https://www.instagram.com/djdioperez" target="_blank" ><i class="fa fa-instagram" aria-hidden="true"></i></a>
      <a href="https://www.youtube.com/channel/UCzKsdS-n0ZUQ8FdBDG2_2Gg" target="_blank" ><i class="fa fa-youtube" aria-hidden="true"></i></a>
    </div>
  </section>
</div>
