contact{
  h3{
    color: white !important;
    font-family: 'Roboto', sans-serif;
    font-size: 2em;
    text-shadow: 1px 1px rgb(13, 13, 13);
    font-weight: 400;

  }

  p{
    color: white;
    font-size: 1.2em;
  }
  .well{
    background: linear-gradient(to left,rgba(0,0,0,0), rgba(0,0,0,1), rgba(0,0,0,0));
    border: none;
  }
  .mail{

  }
  .fa{
    padding: 8px 4px;
    font-size: 2.5em;
    color: rgb(211,47,47);
  }

  .fa:hover{
    font-size: 4em;
    color: #ffffff;
  }

}
