navigation{
  /*
    NAVIGATION

  */
  .navbar-fixed-top{
    font-size: 1.2em;
  }

  .navbar{
    background-color: black !important;
    color: white !important;
    font-family: 'Oswald', sans-serif;
    opacity: 0.7;

  }

  .nav li a{
    padding: 20px;

  }
  .active a{
    background-color: rgb(211,47,47) !important;
  }
  .nav li a:hover{
    box-shadow: 2px #ff3d00;
    font-size: 1.4em;
  }
  footer{
    font-family: 'Oswald', sans-serif;
    font-size: 1em;
    color: #FFFFFF;
    border-top: 1.5px solid grey !important;
    opacity: 0.7;
  }
  .fa{
    padding: 8px 4px;
    font-size: 2em;
  }
  .fa-copyright{
    font-size: 1em;
  }

  footer a{
    color: #FFFFFF;
  }

  footer a:hover{
    color: rgb(211,47,47) !important;
  }

}
