<nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a href="/home" class="navbar-brand">DJ DIO PEREZ</a>
    </div>
    <!-- Collection of nav links and other content for toggling -->
    <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
              <li class="active"><a href="/home">Home</a></li>
              <li><a href="/mixes">Mixes</a></li>
              <li><a href="/booking">Bookings</a></li>
              <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
  </div>
</nav>

<!-- FOOTER -->
<footer class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="col-md-12 text-center">
    <a href="https://soundcloud.com/dj-dio-perez" target=" _blank " ><i class="fa fa-soundcloud" aria-hidden="true"></i> </a>
    <a href="https://www.facebook.com/djdioperez" target=" _blank" ><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
    <a href="https://www.instagram.com/djdioperez" target=" _blank" ><i class="fa fa-instagram" aria-hidden="true"></i></a>
    <a href="https://www.youtube.com/channel/UCzKsdS-n0ZUQ8FdBDG2_2Gg" target="_blank" ><i class="fa fa-youtube" aria-hidden="true"></i></a>
    <p>
      <i class="fa fa-copyright" aria-hidden="true"></i>
        DJDIOPEREZ.COM | 2016
    </p>
  </div>
</footer>
